In [10]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('db/nba_data.db')

In [ ]:
query = """
        SELECT 
            CASE 
                WHEN draft_team IN ('Washington Bullets', 'Washington Wizards') THEN 'Washington Wizards'
                WHEN draft_team IN ('New Jersey Nets', 'Brooklyn Nets') THEN 'Brooklyn Nets'
                WHEN draft_team IN ('Charlotte Bobcats', 'Charlotte Hornets') THEN 'Charlotte Hornets'
                WHEN draft_team IN ('Vancouver Grizzlies', 'Memphis Grizzlies') THEN 'Memphis Grizzlies'
                WHEN draft_team IN ('New Orleans Hornets', 'New Orleans Pelicans') THEN 'New Orleans Pelicans'
                WHEN draft_team IN ('Kansas City Kings', 'Sacramento Kings') THEN 'Sacramento Kings'
                WHEN draft_team IN ('Seattle SuperSonics', 'Oklahoma City Thunder') THEN 'Oklahoma City Thunder'
                ELSE draft_team
            END AS franchise,
            COUNT(pick) AS number_of_picks
        FROM lottery_data
        GROUP BY franchise
        ORDER BY number_of_picks DESC
        """

df = pd.read_sql_query(query, conn)
df.to_csv("data/num_lottery_picks.csv", index=False)
pd.set_option('display.max_rows', None)
print(df)

                 franchise  number_of_picks
0         Sacramento Kings               28
1        Charlotte Hornets               27
2            Orlando Magic               24
3     Los Angeles Clippers               24
4   Minnesota Timberwolves               23
5    Golden State Warriors               23
6      Cleveland Cavaliers               22
7       Washington Wizards               20
8       Philadelphia 76ers               20
9    Oklahoma City Thunder               19
10         Toronto Raptors               18
11            Phoenix Suns               18
12           Atlanta Hawks               18
13         Milwaukee Bucks               17
14         Detroit Pistons               17
15           Chicago Bulls               17
16       Memphis Grizzlies               16
17          Boston Celtics               16
18        Dallas Mavericks               15
19  Portland Trail Blazers               14
20    New Orleans Pelicans               14
21          Denver Nuggets               14
22               Utah Jazz               13
23         New York Knicks               13
24          Indiana Pacers               13
25         Houston Rockets               13
26           Brooklyn Nets               13
27       San Antonio Spurs               11
28              Miami Heat               10
29      Los Angeles Lakers                7

In [ ]:
query2 = """
        WITH top3 AS (
          SELECT draft, pick, CAST(REPLACE(chances, '%', '') AS REAL) AS chances, draft_team
          FROM lottery_data
          WHERE pick IN (1, 2, 3)
        ),

        total_combinations AS (
          SELECT draft, SUM(CAST(REPLACE(chances, '%', '') AS REAL)) AS total_combinations
          FROM lottery_data
          GROUP BY draft
        ),

        pivot_columns AS (
          SELECT t.draft,
          tc.total_combinations,
          MAX(CASE WHEN t.pick = 1 THEN t.chances END) AS c1,
          MAX(CASE WHEN t.pick = 2 THEN t.chances END) AS c2,
          MAX(CASE WHEN t.pick = 3 THEN t.chances END) AS c3,
          MAX(CASE WHEN t.pick = 1 THEN t.draft_team END) AS team1,
          MAX(CASE WHEN t.pick = 2 THEN t.draft_team END) AS team2,
          MAX(CASE WHEN t.pick = 3 THEN t.draft_team END) AS team3  
          FROM top3 t
          JOIN total_combinations tc 
          ON t.draft = tc.draft
          GROUP BY t.draft, tc.total_combinations
        ),

        probabilities AS (
          SELECT draft, 
            ROUND(
              1.0 * c1 / total_combinations *
              c2 / (total_combinations - c1) *
              c3 / (total_combinations - c1 - c2) * 100,
              3
            ) AS top3_probability_percent,
            team1, team2, team3
          FROM pivot_columns
        )

        SELECT * FROM probabilities
        ORDER BY draft DESC;
"""

df2 = pd.read_sql_query(query2, conn)
df2.to_csv("data/top3_probability_results.csv", index=False)
pd.set_option('display.max_rows', None)
print(df2)

                     draft  top3_probability_percent                   team1  \
0   2025 NBA Draft Lottery                     0.013        Dallas Mavericks
1   2024 NBA Draft Lottery                     0.023           Atlanta Hawks
2   2023 NBA Draft Lottery                     0.291       San Antonio Spurs
3   2022 NBA Draft Lottery                     0.388           Orlando Magic
4   2021 NBA Draft Lottery                     0.364         Detroit Pistons
5   2020 NBA Draft Lottery                     0.190  Minnesota Timberwolves
6   2019 NBA Draft Lottery                     0.061    New Orleans Pelicans
7   2018 NBA Draft Lottery                     0.347            Phoenix Suns
8   2017 NBA Draft Lottery                     0.245      Philadelphia 76ers
9   2016 NBA Draft Lottery                     1.878      Philadelphia 76ers
10  2015 NBA Draft Lottery                     0.981  Minnesota Timberwolves
11  2014 NBA Draft Lottery                     0.117     Cleveland Cavaliers
12  2013 NBA Draft Lottery                     0.272     Cleveland Cavaliers
13  2012 NBA Draft Lottery                     1.288     New Orleans Hornets
14  2011 NBA Draft Lottery                     0.075     Cleveland Cavaliers
15  2010 NBA Draft Lottery                     0.180      Washington Wizards
16  2009 NBA Draft Lottery                     0.257    Los Angeles Clippers
17  2008 NBA Draft Lottery                     0.081           Chicago Bulls
18  2007 NBA Draft Lottery                     0.068  Portland Trail Blazers
19  2006 NBA Draft Lottery                     0.372         Toronto Raptors
20  2005 NBA Draft Lottery                     0.291         Milwaukee Bucks
21  2004 NBA Draft Lottery                     1.085           Orlando Magic
22  2003 NBA Draft Lottery                     0.588     Cleveland Cavaliers
23  2002 NBA Draft Lottery                     0.721         Houston Rockets
24  2001 NBA Draft Lottery                     0.059      Washington Wizards
25  2000 NBA Draft Lottery                     0.165         New Jersey Nets
26  1999 NBA Draft Lottery                     0.039           Chicago Bulls
27  1998 NBA Draft Lottery                     0.655    Los Angeles Clippers
28  1997 NBA Draft Lottery                     0.440       San Antonio Spurs
29  1996 NBA Draft Lottery                     1.526      Philadelphia 76ers
30  1995 NBA Draft Lottery                     0.498   Golden State Warriors
31  1994 NBA Draft Lottery                     1.360         Milwaukee Bucks
32  1993 NBA Draft Lottery                     0.014           Orlando Magic
33  1992 NBA Draft Lottery                     0.229           Orlando Magic
34  1991 NBA Draft Lottery                     0.254       Charlotte Hornets
35  1990 NBA Draft Lottery                     0.114         New Jersey Nets
36  1989 NBA Draft Lottery                     0.198        Sacramento Kings
37  1988 NBA Draft Lottery                     0.476    Los Angeles Clippers
38  1987 NBA Draft Lottery                     0.476       San Antonio Spurs
39  1986 NBA Draft Lottery                     0.476     Cleveland Cavaliers
40  1985 NBA Draft Lottery                     0.476         New York Knicks

                     team2                   team3
0        San Antonio Spurs      Philadelphia 76ers
1       Washington Wizards         Houston Rockets
2        Charlotte Hornets  Portland Trail Blazers
3    Oklahoma City Thunder         Houston Rockets
4          Houston Rockets     Cleveland Cavaliers
5    Golden State Warriors       Charlotte Hornets
6        Memphis Grizzlies         New York Knicks
7         Sacramento Kings           Atlanta Hawks
8       Los Angeles Lakers          Boston Celtics
9       Los Angeles Lakers          Boston Celtics
10      Los Angeles Lakers      Philadelphia 76ers
11         Milwaukee Bucks      Philadelphia 76ers
12           Orlando Magic      Washington Wizards
13       Charlotte Bobcats      Washington Wizards
14  Minnesota Timberwolves               Utah Jazz
15      Philadelphia 76ers         New Jersey Nets
16       Memphis Grizzlies   Oklahoma City Thunder
17              Miami Heat  Minnesota Timberwolves
18     Seattle SuperSonics           Atlanta Hawks
19           Chicago Bulls       Charlotte Bobcats
20           Atlanta Hawks               Utah Jazz
21       Charlotte Bobcats           Chicago Bulls
22         Detroit Pistons          Denver Nuggets
23           Chicago Bulls   Golden State Warriors
24    Los Angeles Clippers           Atlanta Hawks
25     Vancouver Grizzlies    Los Angeles Clippers
26     Vancouver Grizzlies       Charlotte Hornets
27     Vancouver Grizzlies          Denver Nuggets
28      Philadelphia 76ers          Boston Celtics
29         Toronto Raptors     Vancouver Grizzlies
30    Los Angeles Clippers      Philadelphia 76ers
31        Dallas Mavericks         Detroit Pistons
32      Philadelphia 76ers   Golden State Warriors
33       Charlotte Hornets  Minnesota Timberwolves
34         New Jersey Nets        Sacramento Kings
35     Seattle SuperSonics          Denver Nuggets
36    Los Angeles Clippers       San Antonio Spurs
37          Indiana Pacers      Philadelphia 76ers
38            Phoenix Suns         New Jersey Nets
39          Boston Celtics   Golden State Warriors
40          Indiana Pacers    Los Angeles Clippers

In [ ]:
query3 = """
        SELECT draft, draft_team, CAST(odds AS REAL) AS odds_real, player_taken, prelottery_position, record
        FROM lottery_data
        WHERE pick == 1 
        ORDER BY odds_real ASC
        LIMIT 10
"""

df3 = pd.read_sql_query(query3, conn)
df3.to_csv("data/top10_unlikely_first.csv", index=False)
pd.set_option('display.max_rows', None)
print(df3)

                    draft              draft_team  odds_real  \
0  1993 NBA Draft Lottery           Orlando Magic       1.52
1  2014 NBA Draft Lottery     Cleveland Cavaliers       1.70
2  2008 NBA Draft Lottery           Chicago Bulls       1.70
3  2025 NBA Draft Lottery        Dallas Mavericks       1.80
4  2011 NBA Draft Lottery     Cleveland Cavaliers       2.80
5  2024 NBA Draft Lottery           Atlanta Hawks       3.00
6  2000 NBA Draft Lottery         New Jersey Nets       4.40
7  2007 NBA Draft Lottery  Portland Trail Blazers       5.30
8  2019 NBA Draft Lottery    New Orleans Pelicans       6.00
9  2005 NBA Draft Lottery         Milwaukee Bucks       6.30

         player_taken prelottery_position record
0        Chris Webber                11th  41-41
1      Andrew Wiggins                 9th  33-49
2        Derrick Rose                 9th  33-49
3        Cooper Flagg                11th  39-43
4        Kyrie Irving                 8th  32-50
5  Zaccharie Risacher                10th  36-46
6       Kenyon Martin                 7th  31-52
7           Greg Oden                 7th  32-50
8     Zion Williamson                 7th  33-49
9        Andrew Bogut                 6th  30-52

In [ ]:
query4 = """
        WITH all_teams AS (
            SELECT DISTINCT 
                CASE 
                    WHEN draft_team IN ('Washington Bullets', 'Washington Wizards') THEN 'Washington Wizards'
                    WHEN draft_team IN ('New Jersey Nets', 'Brooklyn Nets') THEN 'Brooklyn Nets'
                    WHEN draft_team IN ('Charlotte Bobcats', 'Charlotte Hornets') THEN 'Charlotte Hornets'
                    WHEN draft_team IN ('Vancouver Grizzlies', 'Memphis Grizzlies') THEN 'Memphis Grizzlies'
                    WHEN draft_team IN ('New Orleans Hornets', 'New Orleans Pelicans') THEN 'New Orleans Pelicans'
                    WHEN draft_team IN ('Kansas City Kings', 'Sacramento Kings') THEN 'Sacramento Kings'
                    WHEN draft_team IN ('Seattle SuperSonics', 'Oklahoma City Thunder') THEN 'Oklahoma City Thunder'
                    ELSE draft_team
                END AS franchise
            FROM lottery_data
        ),

        firsts AS (
            SELECT 
                CASE 
                    WHEN draft_team IN ('Washington Bullets', 'Washington Wizards') THEN 'Washington Wizards'
                    WHEN draft_team IN ('New Jersey Nets', 'Brooklyn Nets') THEN 'Brooklyn Nets'
                    WHEN draft_team IN ('Charlotte Bobcats', 'Charlotte Hornets') THEN 'Charlotte Hornets'
                    WHEN draft_team IN ('Vancouver Grizzlies', 'Memphis Grizzlies') THEN 'Memphis Grizzlies'
                    WHEN draft_team IN ('New Orleans Hornets', 'New Orleans Pelicans') THEN 'New Orleans Pelicans'
                    WHEN draft_team IN ('Kansas City Kings', 'Sacramento Kings') THEN 'Sacramento Kings'
                    WHEN draft_team IN ('Seattle SuperSonics', 'Oklahoma City Thunder') THEN 'Oklahoma City Thunder'
                    ELSE draft_team
                END AS franchise,
                COUNT(*) AS first_pick_count
            FROM lottery_data
            WHERE pick = 1
            GROUP BY franchise
        )

        SELECT 
            a.franchise, 
            COALESCE(f.first_pick_count, 0) AS first_pick_count
        FROM all_teams a
        LEFT JOIN firsts f ON a.franchise = f.franchise
        ORDER BY first_pick_count DESC

"""

df4 = pd.read_sql_query(query4, conn)
df4.to_csv("data/most_firsts.csv", index=False)
pd.set_option('display.max_rows', None)
print(df4)

                 franchise  first_pick_count
0      Cleveland Cavaliers                 5
1            Orlando Magic                 4
2        San Antonio Spurs                 3
3       Philadelphia 76ers                 3
4     Los Angeles Clippers                 3
5       Washington Wizards                 2
6     New Orleans Pelicans                 2
7            Brooklyn Nets                 2
8            Chicago Bulls                 2
9   Minnesota Timberwolves                 2
10         Milwaukee Bucks                 2
11        Dallas Mavericks                 1
12       Charlotte Hornets                 1
13         Toronto Raptors                 1
14         Houston Rockets                 1
15  Portland Trail Blazers                 1
16           Atlanta Hawks                 1
17         Detroit Pistons                 1
18        Sacramento Kings                 1
19         New York Knicks                 1
20   Golden State Warriors                 1
21            Phoenix Suns                 1
22               Utah Jazz                 0
23       Memphis Grizzlies                 0
24   Oklahoma City Thunder                 0
25          Indiana Pacers                 0
26          Boston Celtics                 0
27      Los Angeles Lakers                 0
28              Miami Heat                 0
29          Denver Nuggets                 0

In [15]:
conn.close()